*{
	margin: 0;
	padding: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
li{
	list-style-type: none;
}
h1, h2, h3, h4, p, a, li, ul, button, form, input, label{
	margin: 0;
	padding: 0;
}
body{
	margin: 0 auto;
	position: relative;
	max-width: 680px;
	background: #FFFFFF;
}
.wrapper{
	outline: 1px solid #e5e5e5;
}
.header{
	background: #fff;
}
.header__headbar{
	display: flex;
	height: 85.12px;
}
.logo{
	margin-left: 23px;
	align-items: center;
	display: flex;
}
#img{
	display: block;
	max-width: 652px;
}
.team{
	margin: 0 14px;
}
.team__text{
	max-width: 652px;
	margin: 0 auto;
	color: white;
	background: #5D7DE2;
}
.team__text h1{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
	padding: 19px 19px;
	transition: .3s;
}
.team__text h1:hover{
	margin-left: 30px; -
	transition: .3s;
}
.team__text p{
	padding: 0 19px 19px;
	padding-bottom: 19px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 19px;
	color: #FFFFFF;
}
.team__text span{
	font-weight: 400;
	font-family: Montserrat;
	font-style: normal;
	font-size: 13px;
	line-height: 19px;
	color: #FFFFFF;
}
.team__container{
	margin-bottom: 16px;
}
.team__block{
	background: #5D7DE2;
	margin-top: 16px;
	align-items: center;
	display: flex;
	width: 652px;
}
.team__block-image{
	height: 192px;
}
.team__block-text p{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	margin: 0 15px;
}
.team__block-text a{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
}
.about{
	margin-right: 14px;
	margin-left: 14px;
	margin-bottom: 16px;
	border-top: 6px solid #33CC66;
}
.about__block{
	background: #F6F6F6;
}
.about__block button{
	margin: 0 23px;
	border: none;
	outline: none;
	width: 225px;
	height: 45px;
	background: #33CC66;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	text-decoration-line: none;
	margin-bottom: 10px;
}
.about__block p{
	margin: 0 23px;
	padding: 10px 0;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 149.9%;
	color: #000000;
}
.footer{
	background: #5D7DE2;
	width: 680px;
}
.footer__top{
	align-items: center;
	height: 66px;
	justify-content: space-between;
	display: flex;
	border-bottom: 1px solid #7892E3;
}
.footer__top h2{
	margin-left: 32px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	mix-blend-mode: normal;
}
.footer__top-socialmedia{
	margin-right: 30px;
	display: flex;
}
.footer__top-socialmedia div{
	margin-left: 11px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	width: 28px;
	height: 28px;
	border: 1px solid #FFFFFF;
}
.footer__top-socialmedia a{
	text-decoration: none;
}
.footer__top-socialmedia div i{
	color: #fff;
	font-size: 14px;
}
.footer__bottom{
	height: 66px;
	display: flex;
	justify-content: space-between;
}
.footer__bottom p{
	margin-top: 16px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	color: rgba(255, 255, 255, 0.7);
	opacity: 0.7;
	margin-right: 25px;
	margin-left: 32px;
}
.footer__bottom a{
	margin-left: 32px;
	margin-top: 25px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	text-decoration-line: underline;
	color: rgba(255, 255, 255, 0.7);
	opacity: 0.7;
}